Repository javiersoriano/sentinelascode: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Old/alertRulesCICD.yml, Pipelines/Samples/ARmultistage.yml, Pipelines/Samples/multiJobCICD.yml, Pipelines/buildScripts.yml, Pipelines/connectorsCICD.yml, Pipelines/huntingRulesCICD.yml, Pipelines/onboardingCICD.yml, Pipelines/playbooksCICD.yml, Pipelines/workbooksCICD.yml, azure-pipelines.yml

Pipelines/Old/alertRulesCICD.yml:
  name: build and deploy Alert Rules
  stages:
  - stage: build_alert_rules
    jobs:
    - job: AgentJob
      pool:
        name: Azure Pipelines
        vmImage: vs2017-win2016
      steps:
      - task: CopyFiles@2
        displayName: Copy Alert Rules
        inputs:
          SourceFolder: AnalyticsRules
  ...

Pipelines/Samples/ARmultistage.yml:
  name: build and deploy Alert Rules
  stages:
  - stage: build_alert_rules
    jobs:
    - job: AgentJob
      pool:
        name: Azure Pipelines
        vmImage: vs2017-win2016
      steps:
      - task: CopyFiles@2
        displayName: Copy Alert Rules
        inputs:
          SourceFolder: AnalyticsRules
  ...

Pipelines/Samples/multiJobCICD.yml:
  name: build and deploy Alert Rules (multi job)
  stages:
  - stage: build_alert_rules
    jobs:
    - job: AgentJob
      pool:
        name: Azure Pipelines
        vmImage: vs2017-win2016
      steps:
      - task: CopyFiles@2
        displayName: Copy Alert Rules
        inputs:
          SourceFolder: AnalyticsRules
  ...

Pipelines/buildScripts.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: Copy Scripts
    inputs:
      SourceFolder: Scripts
      TargetFolder: $(build.artifactstagingdirectory)
  - task: PublishPipelineArtifact@1
    displayName: Publish Pipeline Artifact
    inputs:
      targetPath: Scripts
  ...

Pipelines/connectorsCICD.yml:
  name: build and deploy Connectors
  stages:
  - stage: build_connectors
    jobs:
    - job: AgentJob
      pool:
        name: Azure Pipelines
        vmImage: vs2017-win2016
      steps:
      - task: CopyFiles@2
        displayName: Copy Connectors
        inputs:
          SourceFolder: Connectors
  ...

Pipelines/huntingRulesCICD.yml:
  name: build and deploy Hunting Rules
  stages:
  - stage: build_hunting_rules
    jobs:
    - job: AgentJob
      pool:
        name: Azure Pipelines
        vmImage: vs2017-win2016
      steps:
      - task: CopyFiles@2
        displayName: Copy Hunting Rules
        inputs:
          SourceFolder: HuntingRules
  ...

Pipelines/onboardingCICD.yml:
  name: build and deploy Sentinel
  stages:
  - stage: build_onboarding_file
    jobs:
    - job: AgentJob
      pool:
        name: Azure Pipelines
        vmImage: vs2017-win2016
      steps:
      - task: CopyFiles@2
        displayName: Copy Onboarding
        inputs:
          SourceFolder: Onboard
  ...

Pipelines/playbooksCICD.yml:
  name: build and deploy Playbooks
  stages:
  - stage: build_playbooks
    jobs:
    - job: AgentJob
      pool:
        name: Azure Pipelines
        vmImage: vs2017-win2016
      steps:
      - task: CopyFiles@2
        displayName: Copy Playbooks
        inputs:
          SourceFolder: Playbooks
  ...

Workflow file for Sentinel-Deploy
  .github/workflows/sentinel-deploy-a8bc29d9-fdd6-4a22-9647-cff6bb817673.yml
Due: none

Sentinel Content Deployment Script
  .github/workflows/azure-sentinel-deploy-79d583d3-882f-468a-b28b-f6051613a180.ps1
Due: none

Workflow file for Sentinel-Deploy
  .github/workflows/sentinel-deploy-79d583d3-882f-468a-b28b-f6051613a180.yml
Due: none

Push
  AnalyticsRules/SecurityEventLogCleared.yml
Due: Pipelines/Old/alertRulesCICD.yml, Pipelines/Samples/ARmultistage.yml, Pipelines/Samples/multiJobCICD.yml, azure-pipelines.yml

Push
  .vs/sentinelascode/v17/.suo
  .vs/slnx.sqlite
Due: none

makeover
  AnalyticsRules/Azure_Sentinel_analytic_rule.json
  AnalyticsRules/analytics-rules.json
  Pipelines/sentinelArtifacts.yml
  Scripts/CreateAnalyticsRules.ps1
  Scripts/CreateAnalyticsRulesAPI.ps1
  Scripts/CreateHuntingRulesAPI.ps1
  Scripts/DeployPlaybooks.ps1
  Scripts/DeploySentinelArtifacts.ps1
  Scripts/DeployWorkbooks.ps1
  Scripts/EnableConnectorsAPI.ps1
  Scripts/README.md
Due: Pipelines/Old/alertRulesCICD.yml, Pipelines/Samples/ARmultistage.yml, Pipelines/Samples/multiJobCICD.yml, Pipelines/buildScripts.yml, azure-pipelines.yml

Update buildScripts.yml for Azure Pipelines
  Pipelines/buildScripts.yml
Due: none

Update sentinelArtifacts.yml for Azure Pipelines
  Pipelines/sentinelArtifacts.yml
Due: none

changed parameter name
  Scripts/DeploySentinelArtifacts.ps1
Due: Pipelines/buildScripts.yml

rule change
  AnalyticsRules/Azure_Sentinel_analytic_rule.json
Due: Pipelines/Old/alertRulesCICD.yml, Pipelines/Samples/ARmultistage.yml, Pipelines/Samples/multiJobCICD.yml, azure-pipelines.yml

UPD correcting names
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  Pipelines/Old/alertRulesCICD.yml: any of: AnalyticsRules
  Pipelines/Samples/ARmultistage.yml: any of: AnalyticsRules
  Pipelines/Samples/multiJobCICD.yml: any of: AnalyticsRules
  Pipelines/buildScripts.yml: any of: Scripts
  Pipelines/connectorsCICD.yml: any of: Connectors
  Pipelines/huntingRulesCICD.yml: any of: HuntingRules
  Pipelines/onboardingCICD.yml: any of: Onboarding
  Pipelines/playbooksCICD.yml: any of: Playbooks
  Pipelines/workbooksCICD.yml: any of: Workbooks
  azure-pipelines.yml: any of: AnalyticsRules
