Repository javiersoriano/sentinelascode: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/buildScripts.yml, Pipelines/workbooksCICD.yml, azure-pipelines.yml

Pipelines/buildScripts.yml:

# Scripts build pipeline
# Copies script files to the agent and publishes an artifact with them

trigger:
 paths:
   include:
     - Scripts/*

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: CopyFiles@2
  displayName: 'Copy Scripts'
  inputs:
    SourceFolder: Scripts
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: PublishPipelineArtifact@1
  displayName: 'Publish Pipeline Artifact'
  inputs:
    targetPath: Scripts
    artifact: Scripts

Pipelines/workbooksCICD.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: build and deploy Workbooks
resources:
 pipelines:
   - pipeline: Scripts
     source: 'scriptsCI'

trigger:
 paths:
   include:
     - Workbooks/*

stages:
- stage: build_workbooks

  jobs:
    - job: AgentJob
      pool:
       name: Azure Pipelines
       vmImage: 'vs2017-win2016'
      steps:
       - task: CopyFiles@2
         displayName: 'Copy Workbooks'
         inputs:
          SourceFolder: Workbooks
          TargetFolder: '$(Pipeline.Workspace)'

       - task: PublishBuildArtifacts@1
         displayName: 'Publish Artifact: Workbooks'
         inputs:
          PathtoPublish: '$(Pipeline.Workspace)'
          ArtifactName: Workbooks

- stage: deploy_workbooks
  jobs:
    - job: AgentJob
      pool:
       name: Azure Pipelines
       vmImage: 'windows-2019'
      variables: 
      - group: Az connection settings
      steps:
      - download: current
        artifact: Workbooks
      - download: Scripts
        patterns: '*.ps1'
      - task: AzurePowerShell@4
        displayName: 'Create and Update Workbooks'
        inputs:
         azureSubscription: 'Soricloud Visual Studio'
         ScriptPath: '$(Pipeline.Workspace)/Scripts/Scripts/CreateWorkbooks.ps1'
         ScriptArguments: '-ResourceGroup $(ResourceGroup) -WorkbooksFolder $(Pipeline.Workspace)/Workbooks -WorkbookSourceId $(workbookSourceId)'
         azurePowerShellVersion: LatestVersion
         pwsh: true

azure-pipelines.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: build and deploy Alert Rules
resources:
 pipelines:
   - pipeline: Scripts
     source: 'Build Scripts'
trigger:
 paths:
   include:
     - AnalyticsRules/*

stages:
- stage: build_alert_rules

  jobs:
    - job: AgentJob
      pool:
       name: Azure Pipelines
       vmImage: 'vs2017-win2016'
      steps:
       - task: CopyFiles@2
         displayName: 'Copy Alert Rules'
         inputs:
          SourceFolder: AnalyticsRules
          TargetFolder: '$(Pipeline.Workspace)'

       - task: PublishBuildArtifacts@1
         displayName: 'Publish Artifact: RulesFile'
         inputs:
          PathtoPublish: '$(Pipeline.Workspace)'
          ArtifactName: RulesFile

- stage: deploy_alert_rules
  jobs:
    - job: AgentJob
      pool:
       name: Azure Pipelines
       vmImage: 'windows-2019'
      variables: 
      - group: Az connection settings
      steps:
      - download: current
        artifact: RulesFile
      - download: Scripts
        patterns: '*.ps1'
      - task: CmdLine@2
        inputs:
         script: 'dir /s'
         workingDirectory: $(Pipeline.Workspace)
      - task: AzurePowerShell@4
        displayName: 'Create and Update Alert Rules'
        inputs:
         azureSubscription: 'Soricloud Visual Studio (1186543f-81e7-4a2c-ad55-fae1cc1c9eac)'
         ScriptPath: '$(Pipeline.Workspace)/Scripts/Scripts/CreateAnalyticsRulesAPI.ps1'
         ScriptArguments: '-TenantId $(TenantId) -ClientId $(ClientId) -ClientSecret $(ClientSecret) -SubscriptionId $(SubscriptionId) -ResourceGroup $(ResourceGroup) -Workspace $(Workspace) -RulesFile analytics-rules.json'
         azurePowerShellVersion: LatestVersion
         pwsh: true

remove alert
  AnalyticsRules/analytics-rules.json
Due: azure-pipelines.yml

fixing typo
  Scripts/CreateAnalyticsRulesAPI.ps1
Due: Pipelines/buildScripts.yml

changed queryPeriod
  AnalyticsRules/analytics-rules.json
Due: azure-pipelines.yml

Update connectorsCICD.yml for Azure Pipelines
  Pipelines/connectorsCICD.yml
Due: none

added error handling
  Scripts/CreateAnalyticsRulesAPI.ps1
Due: Pipelines/buildScripts.yml

fixed prompt issue
  Scripts/CreateAnalyticsRulesAPI.ps1
Due: Pipelines/buildScripts.yml

Added AAD Audit and SignIn logs connector
  Scripts/EnableConnectorsAPI.ps1
Due: Pipelines/buildScripts.yml

rule name test
  AnalyticsRules/analytics-rules.json
Due: azure-pipelines.yml

new rules script and pipeline
  AnalyticsRules/analytics-rules.json
  Pipelines/AnalyticsRulesCICD.yml
  Scripts/CreateAnalyticsRules.ps1
Due: Pipelines/buildScripts.yml, azure-pipelines.yml

Update AnalyticsRulesCICD.yml for Azure Pipelines
  Pipelines/AnalyticsRulesCICD.yml
Due: none

removed playbook
  AnalyticsRules/analytics-rules.json
Due: azure-pipelines.yml

Added file validator
  Pipelines/AnalyticsRulesCICD.yml
Due: none

Added PS1 validation
  Pipelines/buildScripts.yml
Due: none

Update buildScripts.yml for Azure Pipelines
  Pipelines/buildScripts.yml
Due: none

readme changes
  Pipelines/ARmultistage.yml
  Pipelines/README.md
  Scripts/README.md
Due: Pipelines/buildScripts.yml

added JSON validation in pipelines
  Pipelines/connectorsCICD.yml
  Pipelines/huntingRulesCICD.yml
  Pipelines/onboardingCICD.yml
  Pipelines/playbooksCICD.yml
  Pipelines/workbooksCICD.yml
Due: none

readme changes
  Pipelines/README.md
  README.md
Due: none

added pipeline check
  README.md
Due: none

pipeline status badge
  README.md
Due: none

changed tactics
  HuntingRules/hunting-rules.json
Due: none

PS noninteractive fix
  Scripts/CreateHuntingRulesAPI.ps1
Due: Pipelines/buildScripts.yml

added tactic
  HuntingRules/hunting-rules.json
Due: none

Update analytics-rules.json
  AnalyticsRules/analytics-rules.json
Due: azure-pipelines.yml

changed folder structure
  Pipelines/Old/alertRulesCICD.yml
  Pipelines/Samples/ARmultistage.yml
  Pipelines/Samples/multiJobCICD.yml
  Pipelines/Samples/multiStageCICD.yml
Due: none

update test
  HuntingRules/hunting-rules.json
Due: none

update rule
  AnalyticsRules/analytics-rules.json
Due: azure-pipelines.yml

CreateWorkbooks retrieves WorkbookSourceId internally
  Scripts/CreateWorkbooks.ps1
Due: Pipelines/buildScripts.yml

Updated pipeline accordingly
  Pipelines/workbooksCICD.yml
Due: none

Set up CI with Azure Pipelines
  Pipelines/Samples/AnalyticsRulesCICD-LH.yml
Due: none

Update AnalyticsRulesCICD-LH.yml for Azure Pipelines
  Pipelines/Samples/AnalyticsRulesCICD-LH.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Update hunting-rules.json
  HuntingRules/hunting-rules.json
Due: none

Update CreateAnalyticsRules.ps1
  Scripts/CreateAnalyticsRules.ps1
Due: Pipelines/buildScripts.yml

Sentinel Content Deployment Script
  .github/workflows/azure-sentinel-deploy-a8bc29d9-fdd6-4a22-9647-cff6bb817673.ps1
Due: none
