Repository javiersoriano/sentinelascode: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/buildScripts.yml, Pipelines/workbooksCICD.yml, azure-pipelines.yml

Pipelines/buildScripts.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: CopyFiles@2
    displayName: Copy Scripts
    inputs:
      SourceFolder: Scripts
      TargetFolder: $(build.artifactstagingdirectory)
  - task: PublishPipelineArtifact@1
    displayName: Publish Pipeline Artifact
    inputs:
      targetPath: Scripts
  ...

Pipelines/workbooksCICD.yml:
  name: build and deploy Workbooks
  stages:
  - stage: build_workbooks
    jobs:
    - job: AgentJob
      pool:
        name: Azure Pipelines
        vmImage: vs2017-win2016
      steps:
      - task: CopyFiles@2
        displayName: Copy Workbooks
        inputs:
          SourceFolder: Workbooks
  ...

azure-pipelines.yml:
  name: build and deploy Alert Rules
  stages:
  - stage: build_alert_rules
    jobs:
    - job: AgentJob
      pool:
        name: Azure Pipelines
        vmImage: vs2017-win2016
      steps:
      - task: CopyFiles@2
        displayName: Copy Alert Rules
        inputs:
          SourceFolder: AnalyticsRules
  ...

Update onboardingCD.yml for Azure Pipelines
  Pipelines/onboardingCD.yml
Due: none

changes
  Onboard/onboarding.json
  Scripts/InstallSentinel.ps1
Due: Pipelines/buildScripts.yml

changes
  Scripts/InstallSentinel.ps1
Due: Pipelines/buildScripts.yml

changes
  Pipelines/onboardingCICD.yml
Due: none

changes to error message
  Scripts/InstallSentinel.ps1
Due: Pipelines/buildScripts.yml

suppress warning
  Scripts/InstallSentinel.ps1
Due: Pipelines/buildScripts.yml

added details
  Pipelines/README.md
Due: none

added comments
  README.md
  Scripts/README.md
Due: Pipelines/buildScripts.yml

comments
  AnalyticsRules/README.md
  HuntingRules/README.md
  Onboard/README.md
  Playbooks/README.md
  Scripts/README.md
  Workbooks/README.md
Due: Pipelines/buildScripts.yml, Pipelines/workbooksCICD.yml, azure-pipelines.yml

Added EnableConnectors.ps1 script pz
  Scripts/EnableConnectorsAPI.ps1
Due: Pipelines/buildScripts.yml

Added connectors.json file pz
  Connectors/connectors.json
Due: none

corrected syntax
  Scripts/README.md
Due: Pipelines/buildScripts.yml

Set up CI with Azure Pipelines
  connectorsCICD.yml
Due: none

moved connectors pipeline file
  Pipelines/connectorsCICD.yml
Due: none

Delete sampleFusionAlertRule.json
  Scripts/sampleFusionAlertRule.json
Due: Pipelines/buildScripts.yml

Delete sampleMSalertrule.json
  Scripts/sampleMSalertrule.json
Due: Pipelines/buildScripts.yml

Set up CI with Azure Pipelines
  Pipelines/multiStageCICD.yml
Due: none

Set up CI with Azure Pipelines
  Pipelines/multiJobCICD.yml
Due: none

added additional workbook
  Workbooks/multi-tenant-sign-in.json
Due: Pipelines/workbooksCICD.yml

Added Playbook parameter for Scheduled Rules
  AnalyticsRules/analytics-rules.json
Due: azure-pipelines.yml

added PlaybookName flag
  Scripts/CreateAnalyticsRulesAPI.ps1
Due: Pipelines/buildScripts.yml

changed flag case
  Scripts/CreateAnalyticsRulesAPI.ps1
Due: Pipelines/buildScripts.yml

changes
  Scripts/CreateAnalyticsRulesAPI.ps1
Due: Pipelines/buildScripts.yml

added new rule
  AnalyticsRules/analytics-rules.json
Due: azure-pipelines.yml

Update huntingRulesCICD.yml for Azure Pipelines
  Pipelines/huntingRulesCICD.yml
Due: none

Added update scenario for data connectors
  Scripts/EnableConnectorsAPI.ps1
Due: Pipelines/buildScripts.yml

fixed comma
  Connectors/connectors.json
Due: none

added appgw fw workbook
  Workbooks/application-gw-firewall-events.json
Due: Pipelines/workbooksCICD.yml

modified workbook type
  Workbooks/application-gw-firewall-events.json
Due: Pipelines/workbooksCICD.yml

added error handling
  Scripts/CreateAnalyticsRulesAPI.ps1
  Workbooks/multi-tenant-sign-in.json
Due: Pipelines/buildScripts.yml, Pipelines/workbooksCICD.yml

Set up CI with Azure Pipelines
  Pipelines/ARmultistage.yaml
Due: none

Update ARmultistage.yaml for Azure Pipelines
  Pipelines/ARmultistage.yaml
Due: none

added link to blog post
  README.md
Due: none

Update connectorsCICD.yml for Azure Pipelines
  Pipelines/connectorsCICD.yml
Due: none

new demo alert
  AnalyticsRules/analytics-rules.json
Due: azure-pipelines.yml

Path conditions:
  Pipelines/buildScripts.yml: any of: Scripts
  Pipelines/workbooksCICD.yml: any of: Workbooks
  azure-pipelines.yml: any of: AnalyticsRules
